@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

* {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;

    color:aliceblue;
}

.page {
    height: 50vh;
    width: 100vw;
    background-color: #02172E;
    
}

#ptf {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.portFolio-Obj {
    background-color: aliceblue;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 100%;
    width: 15%;
}

#subtitle {
    margin: 0;
    padding-left: 60%;
    font-size: 2vw;


}


header {
    background-image: url("../images/header.png");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;

    height: 100vh;
    width: 100vw;
    
    font-size: 4vw;
}

h1 {
    margin: 0;

    padding-top: 20%;
    padding-left: 10%;

}

h2 {
    margin: 0;
    font-size: 3vw;
    padding: 5%;
}

p {
    font-size: 1.5vw;
    padding-left: 10%;
    padding-right: 10%;
    
}

footer {
    margin-top: 10px solid #FFF;
}